[package]
name = "{{ name_kebab_case }}"
version = "0.1.0"
edition = "2021"

[dependencies]
schemars = "0.8.21"
serde = { version = "1.0.217", features = ["derive"] }
tokio = { version = "1.43.0", features = ["full"] }

[dependencies.nexus-toolkit-rust]
git = "ssh://git@github.com/Talus-Network/nexus-sdk.git"
branch = "toolkit-rust-initial-setup"
