[package]
name = "{{ name_kebab_case }}"
version = "0.1.0"
edition = "2021"

[dependencies]
schemars = "0.8.21"
serde = { version = "1.0.217", features = ["derive"] }
tokio = { version = "1.43.0", features = ["full"] }

[dependencies.nexus-sdk]
git = "ssh://git@github.com/Talus-Network/nexus-sdk.git"
# TODO: <https://github.com/Talus-Network/nexus-sdk/issues/24>
branch = "cli-types-tests"

[dependencies.nexus-toolkit]
git = "ssh://git@github.com/Talus-Network/nexus-sdk.git"
# TODO: <https://github.com/Talus-Network/nexus-sdk/issues/24>
branch = "cli-types-tests"
